* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  background-color: antiquewhite;
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
}

.logo {
  height: 4rem;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: right;
  list-style: none;
}
.header-menu li {
  margin-right: 2rem;
  font-size: 1.2rem;
}
.restaurant-card {
  /*height: 20rem;
  */
  width: 16rem;
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all linear 0.05s;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  -webkit-transition: all linear 0.05s;
  -moz-transition: all linear 0.05s;
  -ms-transition: all linear 0.05s;
  -o-transition: all linear 0.05s;
}
.body-container {
  padding: 1rem 3rem;
}
.restaurant-img {
  width: 15rem;
  height: 11rem;
  border-radius: 1rem;
  object-fit: cover;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.light-font {
  font-weight: 300;
}
.restaurant-card:hover {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}
.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin: 0 1rem;
}

.rating-and-logo {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0 1rem;
  gap: 2px;
}

.rating-logo {
  height: 16px;
}
.rating-and-logo h4 {
  font-weight: 500;
}
.shimmer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2.5rem;
}
.shimmer-card {
  height: 300px;
  width: 256px;
  background-color: #f0f0f0;
  border-radius: 1rem;
  position: relative;
}
.img-shimmer {
  position: absolute;
  width: 14.4rem;
  height: 11rem;
  top: 0.8rem;
  left: 0.8rem;
  background-color: #e1e1e1;
  border-radius: 1rem;
}
.text-shimmer1 {
  position: absolute;
  top: 12.3rem;
  left: 0.8rem;
  height: 2rem;
  width: 13rem;
  background-color: #e1e1e1;
  border-radius: 0.7rem;
}
.text-shimmer2 {
  position: absolute;
  top: 15rem;
  left: 0.8rem;
  height: 2rem;
  width: 10rem;
  background-color: #e1e1e1;
  border-radius: 0.7rem;
}
.shine {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    100deg,
    rgba(225, 225, 225, 0) 20%,
    rgba(244, 244, 244, 0.5) 50%,
    rgba(225, 225, 225, 0) 80%
  );
  animation: shimmer 0.8s infinite linear;
  -webkit-animation: shimmer 0.8s infinite linear;
}

@keyframes shimmer {
  0% {
    transform: translateX(-60%);
    -webkit-transform: translateX(-60%);
    -moz-transform: translateX(-60%);
    -ms-transform: translateX(-60%);
    -o-transform: translateX(-60%);
  }
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}

/* //// */
.restaurant-page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.res-info-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 50%;
  border-bottom: 1px solid #9d9c9c;
}
.res-items-container {
  width: 100%;
  padding: 1rem;
  margin: 8px 0;
  box-shadow: 2px 2px 10px 0px rgb(158, 158, 158);
}
.item-info {
  width: 70%;
}
.item-info p {
  text-wrap: wrap;
}
.item-img-container {
  position: relative;
}
.add-btn {
  position: absolute;
  bottom: 0;
  left: 45px;
  background-color: white;
  color: green;
  padding: 4px 8px;
  border: solid grey 1px;
  border-radius: 18%;
  -webkit-border-radius: 18%;
  -moz-border-radius: 18%;
  -ms-border-radius: 18%;
  -o-border-radius: 18%;
}
.item-img-container img {
  width: 8.5rem;
  height: 6rem;
  border-radius: 0.5rem;
  object-fit: cover;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.item-info img {
  height: 1.5rem;
}
.items-container {
  width: 50%;
}
.class-text {
  padding-left: 1rem;
}
.description {
  font-size: 12px;
}
.text-decor {
  text-decoration: none;
  color: black;
}
.items {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.581);
}

.type-text {
  font-weight: 600;
}
.type-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  cursor: pointer;
}
